registry=https://zechak-413988070266.d.codeartifact.us-west-2.amazonaws.com/npm/reactify-zk/
//zechak-413988070266.d.codeartifact.us-west-2.amazonaws.com/npm/reactify-zk/:always-auth=true
//zechak-413988070266.d.codeartifact.us-west-2.amazonaws.com/npm/reactify-zk/:_authToken=${CODEARTIFACT_AUTH_TOKEN}